<div id="music" class="pd2">
		<div class="left">
			<div class="pic pt5">
				<img src="images/3302932937405065.jpg"  class="leftimg"/>
			</div>
			<div class="text">
				<h3 class="title">情非得以</h3>
				<p class="name">曹操</p>
			</div>
		</div>
		<div class="right">
			<audio id="audio"></audio>
			<!--<img src="images/playbar_btn_play.png" id="playbtn"/>-->
			<!--<img src="images/playbar_btn_pause.png" />-->
			<img src="images/playbar_btn_next.png"  class="f-right nextBtn"/>
			<div id="playbtn"></div>
			<img src="images/playbar_btn_playlist.png" class="f-right"/>
		</div>
</div>