<div class="holewrap pttop50  pb50">
<div id="topBack">
	<div class="left">
		<img src="images/icon-img_12.jpg" class="backimg"/>
		<h3>歌单</h3>
	</div>
	<div class="right">
		<img src="images/icon-img_13.jpg" />
	</div>
</div>
<!----------------------->
<div id="songface" class="clearfix">
		<div class="item mg2">
			<a href="#">
				<div class="cover">
					<span class="hot">13万</span>
				</div>
				<div class="piclist">
					<div class="pic">
						<img src="images/3419481178086661.jpg" alt="" class="faceimg"/>
					</div>
				</div>
			</a>
		</div>
		<div class="text">
			<p>画风最唯美的电音画风最唯美的电音画风最唯美的电音画风最唯美的电音</p>
			<div class="img pd5p">
				<img src="images/aef.png"  class="authorimg"/>
				<span class="author">2424</span>
			</div>
			
		</div>
	
	<!--<img src="images/banner3.jpg" />-->
</div>
<!------------------->
<ol id="songlist" class="pd5p clearfix">
	
</ol>
<div class="songlist" style="display: none;">
	<li>
		<div class="number">1</div>
		<div class="wraptext">
			<span class="title">11</span>
			<p class="text">111</p>
			<!--<img src="images/next.png"/>-->
		</div>
	</li>
</div>
</div>




