<div class="holewrap pttop50">
<div id="topBack" style="background: #8b9da8;" >
	<div class="left">
		<img src="images/icon-img_03.jpg" class="backimg"/>
		<div class="text">
			<h4 class="title">Get You</h4>
			<span class="singer">歌手</span>
		</div>
	</div>
	<div class="right">
		<img src="images/icon-img_05.jpg" />
	</div>
</div>
<!------------------------------>
<div id="musicplay" style="background: #8b9da8;">
	<div class="wrap">
		<div class="imgs">
			<img src="images/stick_bg.png" alt="pic" class="controlimg"/>
			<div class="leftimg">
				<img src="images/cd_wrapper.png"  class="leftimgs"/>
				<img src="images/109951162857949886.jpg"  class="singerimg"/>
			</div>
			
		</div>
		<div class="text">
			<a>点击显示歌词</a>
			<div class="texts">
				<ul>
					<li>暂无歌词</li>
				</ul>
			</div>
			
		</div>
	</div>
</div>
<!--------------------------------------->
<div id="musicControl">
	<div class="likeicon">
		<div class="imgWrap">
			<div class="likecheck"></div>
			<img src="images/ewaide123_08.jpg" />
			<img src="images/ewaide123_10.jpg" />
			<img src="images/ewaide123_03.jpg" />
		</div>
	</div>
	<div class="loadline">
		<div class="liner">
			<div class="linecontrol" id="DragModel">
				
			</div>
		</div>
	</div>
	<div class="controlicon">
		<ul>
			<li onclick="setCurTime()"><a href="#"><img src="images/seq.png"/></a></li>
			<li class="upBtn"><a href="#"><img src="images/prev.png"/></a></li>
			<li class="playcontrol"></li>
			<li class="nextBtn"><a href="#"><img src="images/next.png"/></a></li>
			<li><a href="#"><img src="images/list.png"/></a></li>
		</ul>		
	</div>
</div>
</div>
