<div id="searchItem">
	<form class="formtext">
		<img src="images/icon-img_14.jpg" class="backimg"/>
		<input type="text" placeholder="请输入搜索内容" value="" class="searchthing"/>
		<img src="images/search-nav_03.jpg" />
	</form>
</div>
<!----------------------------->
<div id="searchpoint">
	<div class="wrap">
		<h3>热门搜索</h3>
		<ul class="clearfix">
			<li>林俊杰</li>
			<li>心墙</li>
			<li>同类</li>
			<li>默</li>
		</ul>
	</div>
	<div class="wrap">
		<h3>历史搜索</h3>
		<ul class="clearfix">
			<li>飞</li>
			<li>热情</li>
			<li>听海</li>
			<li>孩子</li>
		</ul>
	</div>
</div>