<div class="holewrap pttop104  pb50">
<div class="banner">
	<div class="swiper-container">
	  <div class="swiper-wrapper">
	    <div class="swiper-slide"><img src="images/banner1.jpg" /></div>
	    <div class="swiper-slide"><img src="images/banner2.jpg" /></div>
	    <div class="swiper-slide"><img src="images/banner3.jpg" /></div>
	    <div class="swiper-slide"><img src="images/banner4.jpg" /></div>
	  </div>
	</div>
</div>
<div class="midtitle">
	<div class="left">
		<img src="" alt="" />
		<h3>全部歌单</h3>
	</div>
	<div class="right">
		<span>更多></span>
	</div>
</div>
<!---------------->
<div id="songlist" class="clearfix">
	
</div>
<div class="songlist" style="display: none;">
	<div class="item mg2 item2">
		<a href="#">
			<div class="cover">
				<span>13万</span>
			</div>
			<div class="piclist">
				<div class="pic">
					<img src="images/3419481178086661.jpg" alt="" />
				</div>
				<div class="text">
					<p>画风最唯美的电音</p>
				</div>		
			</div>
		</a>
	</div>
</div>
</div>
<script type="text/javascript">
	  var mySwiper = new Swiper('.swiper-container',{
	    loop: true,
		autoplay: 3000
	  });	
</script>
